body {
    margin: 0px;
    background-color: #222222;
    font-family: "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
}

#header {
    position: relative;
    background-color: #474644;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    height: 60px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #ececec;
    text-shadow: 1px 1px 1px #ececec;
}

#footer {
    position: relative;
    padding-top: 5px;
    margin: 0px;
    float: left;
    width: 100%;
    height: 20px;
    background-color: #474644;
    font-size: 10px;
    text-align: center;
    color: #FFF;
    border-top: 5px solid #AFAFAF;
}

#wrapper {
    height: 900px;
    width: 1200px;
    margin: 0 auto;
    overflow: visible;
}

.center_content {
    background-color: #474644;
    color: #AFAFAF;
    padding: 0px;
    float: left;
    margin: 0px;
    width: 1200px;
}

.edit_content {
    background-color: #474644;
    color: #AFAFAF;
    padding: 0px;
    float: left;
    margin: 0px;
    height: 100%;
    width: 100%;
}

.label {
    width: 200px;
    height: 25px;
    display: block;
}

table.goodsTable {
    font-size: 10px;
    font-family: "Verdana",sans-serif;
    border-width: 1px;
    letter-spacing: 1px;
    text-align: left;
    background-color: #ececec;
    border-collapse: collapse;
    color: #474644;
    width: 1200px;
}

table.goodsTable th {
    padding: 3px 12px;
    color: #e0d8cb;
    background: #474644;
}

table.goodsTable td:first-child {
    border-left: solid 2px #474644; 
}

table.goodsTable td {
    border-right: solid 2px #474644; 
    padding: 5px;
}

table.goodsTable tr:nth-child(even) {
    background-color: #d9d7cc;
}

table.goodsTable a {
    text-decoration: none;
    color: #474644;
}

table.goodsTable a:hover {
    text-decoration: none;
    color: black;
}

span.title {
    background-color: #474644;
    width: 1190px;
    display: block;
    padding: 5px;
    font-weight: bold;
    color: #AFAFAF;
    border-bottom: 5px solid #AFAFAF;
}

span.hello {
    background-color: #474644;
    width: 1190px;
    display: block;
    padding: 5px;
    font-weight: bold;
    color: #AFAFAF;
}

/* Pasek menu *************************************************************** */
.menuLin {
    background-color: #222222;
    color: #ececec !important;
    width: 200px;
    display: block;
    float: left;
    font-size:12px;
    font-family: "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
    font-weight: bold;
    height: 40px;
    padding-top: 25px;
    text-align:center;
    text-decoration:none !important;
}

.menuLin:hover {
    transition: all 0.9s;
    background-color: #474644;
}

/* Login ******************************************************************** */

.loginPanel {
    background-color: #dddddd;
    width: 360px;
    margin: 0 auto;
    margin-top: 100px;
}

.som {
    padding: 2px;
    margin: 5px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    background: #dddddd;
    color:#474644;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
    cursor:pointer;
    width: 120px;
    font-weight: bold;
    font-family: "Verdana",sans-serif;
    font-size: 12px;
}

.som:disabled {
    background: #AFAFAF;
}

.but {
    padding: 2px;
    margin: 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #dddddd;
    color:#474644;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
    cursor:pointer;
    width: 100px;
    font-weight: bold;
    font-family: "Verdana",sans-serif;
}

.but:disabled {
    background: #AFAFAF;
}

.fv {
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    background: #dddddd;
    color:#474644;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance:none;
    cursor:pointer;
    width: 200px;
    font-weight: bold;
    font-family: "Verdana",sans-serif;
    font-size: 12px;
}

.addButton {
    color: #AFAFAF !important;
    display: block;
    float: left;
    font-size:24px;
    font-family: "Signika Negative",Roboto,Open Sans,Arial,sans-serif;
    font-weight: bold;
    text-decoration:none !important;
    margin-right: 40px;
}

.addButton:hover {
    color: #ececec !important;
}