<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">       
                <h:form>
                    <span class="title">
                        <h:outputText value="EDYTUJ POZYCJĘ SERWISOWĄ"/>
                    </span>
                    <h:panelGrid columns="2" style="width: 1200px">
                        <h:panelGrid columns="2" style="margin: 0 auto">
                            
                            <h:outputText value="Telefon"/>
                            <h:inputText id="phoneServiceId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{serviceBean.service.phoneService}">
                                <f:validateLength maximum="40"/>
                                <f:validateRequired/>
                            </h:inputText>
                            
                            <h:outputText value="IMEI"/>
                            <h:inputText id="imeiNumberId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{serviceBean.service.imeiNumber}">
                                <f:validateLength minimum="15" maximum="15"/>
                                <f:validateRequired/>
                            </h:inputText>
                            
                            <h:outputText value="Koszt"/>
                            <h:inputText id="expenseId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{serviceBean.service.expense}">
                                <f:validateDoubleRange minimum="0.0"/>
                                <f:validateRequired/>
                            </h:inputText>
                        </h:panelGrid>
                        
                        <h:panelGrid columns="2" style="margin: 0 auto">
                            <h:outputText value="Opis usterki"/>
                            <h:inputTextarea id="productId" styleClass="som" 
                                             style="margin: 5px; resize: none; width: 200px; height: 60px" 
                                             value="#{serviceBean.service.description}">
                                <f:validateLength maximum="100"/>
                                <f:validateRequired/>
                            </h:inputTextarea>
                        </h:panelGrid>
                    </h:panelGrid>
                    
                    <h:commandButton id="editdButton" styleClass="but" style="float: right; margin: 5px" 
                                     value="Dodaj" disabled="false"
                                     action="#{serviceBean.editService()}">
                    </h:commandButton>

                    <h:messages style="color:red;margin:8px;" />
                </h:form>  
            </ui:define>
        </ui:composition>

    </h:body>

</html>