<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">       
                <h:form>
                    <span class="title">
                        <h:panelGrid columns="2" style="width: 1180px">
                        <h:outputText value="EDYTUJ PRODUKT"/>
                        <h:commandButton id="returnButton" styleClass="but" 
                                         style="float: right" value="Wstecz" disabled="false"
                                         action="/addgoods.xhtml" immediate="true">
                        </h:commandButton>
                        </h:panelGrid>
                    </span>
                    <h:panelGrid columns="4"  style="width: 500px; margin-left: 350px">
                        
                        <h:outputText value="Kategoria"/>
                        <h:selectOneMenu id="typeGoodsId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{productBean.product.typeGoodsId}">
                            <f:converter converterId="typeGoodsConverter" />
                            <f:selectItems value="#{typeGoodsBean.typeGoodsList}" 
                                           var="typeGoods" itemValue="#{typeGoods}" 
                                           itemLabel="#{typeGoods.categoryName}"/>
                            <f:ajax render="dataTableId type"/>
                        </h:selectOneMenu> 
                        
                        <h:outputText value="Nazwa"/>
                        <h:inputText id="productId" styleClass="som" style="margin: 5px;" 
                                     value="#{productBean.product.name}">
                            <f:validateLength maximum="40"/>
                            <f:validateRequired/>
                        </h:inputText>
                        
                        <h:panelGroup/><h:panelGroup/><h:panelGroup/>
                        <h:commandButton id="editButton" styleClass="but" style="float: right" 
                                         value="Dodaj" disabled="false"
                                         action="#{productBean.editProduct()}">
                        </h:commandButton>
                    </h:panelGrid>
                    <h:messages style="color:red;margin:8px;" />
                </h:form>  
            </ui:define>
        </ui:composition>

    </h:body>

</html>