<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">     
                <h:form>
                    <span class="title">
                        <h:panelGrid columns="2" style="width: 1180px">
                            <h:outputText value="EDYTUJ PRODUKT"/>
                            <h:panelGrid columns="2" style="float: right">

                                <h:outputText value="KATEGORIA" style="margin-right: 20px;"/>
                                <h:selectOneMenu id="typeGoods" styleClass="som" 
                                                 value="#{goodsBean.goods.typeGoodsId}">
                                    <f:converter converterId="typeGoodsConverter" />
                                    <f:selectItems value="#{typeGoodsBean.typeGoodsList}" 
                                                   var="typeGoods" itemValue="#{typeGoods}" 
                                                   itemLabel="#{typeGoods.categoryName}"/>
                                    <f:ajax render="dataTableId"/>
                                    <f:ajax render="nameId"/>
                                </h:selectOneMenu> 

                            </h:panelGrid>
                        </h:panelGrid>
                    </span>
                    <h:panelGrid columns="2" style="padding: 10px; width: 1200px">
                        <h:panelGrid columns="7">

                            <h:outputText value="Produkt "/>
                            <h:selectOneMenu id="nameId" styleClass="som" style="margin: 20px;" 
                                             value="#{goodsBean.goods.name}">
                                <f:selectItems value="#{goodsBean.productList}" var="product" 
                                               itemValue="#{product.name}" itemLabel="#{product.name}"/>
                            </h:selectOneMenu> 

                            <h:panelGroup/>

                            <h:outputText value="Liczba"/>
                            <h:inputText id="numberId" styleClass="som" style="margin: 20px;" 
                                         value="#{goodsBean.goods.number}">
                                <f:validateLongRange minimum="1"/>
                                <f:validateRequired />
                            </h:inputText>

                            <h:outputText value="Podatek"/>
                            <h:selectOneMenu id="taxId" styleClass="som" style="width: 50px; margin: 20px;" 
                                             value="#{goodsBean.goods.taxId}">
                                <f:converter converterId="taxConverter" />
                                <f:selectItems value="#{taxBean.taxList}" var="tax" 
                                               itemValue="#{tax}" itemLabel="#{tax.rate}"/>
                                <f:ajax />
                            </h:selectOneMenu>

                        </h:panelGrid>
                        <h:panelGrid columns="1" style="float: right">
                            <h:panelGrid columns="4">

                                <h:outputText value="Cena zakupu netto" style="display: block; width: 150px"/>
                                <h:inputText id="netPurchasePriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.netPurchasePrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="grossPurchasePriceId" execute="@this" />
                                    <f:ajax event="blur" render="netPurchasePriceId" execute="@this" />
                                </h:inputText>      

                                <h:outputText value="Cena zakupu brutto" style="display: block; width: 150px"/>
                                <h:inputText id="grossPurchasePriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.grossPurchasePrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="netPurchasePriceId" execute="@this" />
                                    <f:ajax event="blur" render="grossPurchasePriceId" execute="@this" />
                                </h:inputText>

                            </h:panelGrid>
                            <h:panelGrid columns="4">

                                <h:outputText value="Cena sprzedaży netto" style="display: block; width: 150px"/>
                                <h:inputText id="netSellingPriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.netSellingPrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="grossSellingPriceId" execute="@this" />
                                    <f:ajax event="blur" render="netSellingPriceId" execute="@this" />
                                </h:inputText>

                                <h:outputText value="Cena sprzedaży brutto" style="display: block; width: 150px"/>
                                <h:inputText id="grossSellingPriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.grossSellingPrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="netSellingPriceId" execute="@this" />
                                    <f:ajax event="blur" render="grossSellingPriceId" execute="@this" />
                                </h:inputText>

                            </h:panelGrid>
                        </h:panelGrid>
                    </h:panelGrid>

                    <h:commandButton id="editButton" styleClass="but" style="float: right; margin-right: 40px;" 
                                     value="Zapisz" disabled="false" action="#{goodsBean.editGoods()}">
                    </h:commandButton>

                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>

</html>