<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">       
                <h:form>
                    <span class="title">
                        <h:outputText value="EDYTUJ PRACOWNIKA"/>
                    </span>  
                    <h:panelGroup></h:panelGroup>
                    <h:panelGrid columns="3">
                        <h:outputText value="Login"></h:outputText>
                        <h:inputText id="loginId" styleClass="som" value="#{employeeUserBean.user.userLogin}"
                                     required="true">
                            <f:validateLength minimum="4" maximum="10" />
                        </h:inputText>
                        <h:message for="loginId" style="color:red" />

                        <h:outputText value="Hasło"></h:outputText>
                        <h:inputSecret id="passwordId" styleClass="som" value="#{employeeUserBean.user.userPassword}"
                                       required="true" >
                            <f:validateLength minimum="4" maximum="10" />
                            <f:validator validatorId="PasswordValidator" />
                        </h:inputSecret>
                        <h:message for="passwordId" style="color:red" />

                        <h:outputText id="typeId" value="Typ"></h:outputText>
                        <h:selectOneMenu id="usertype" styleClass="som" 
                                         value="#{employeeUserBean.user.userTypeId}" required="true">
                            <f:converter converterId="employeeUserTypeConverter" />
                            <f:selectItems value="#{employeeUserTypeBean.employeeUserTypeList}" 
                                           var="usertype" itemValue="#{usertype}" itemLabel="#{usertype.type}"/>
                        </h:selectOneMenu>
                        <h:message for="typeId" style="color:red" />

                    </h:panelGrid>
                    <h:commandButton id="editButton" styleClass="but" value="Zapisz" disabled="false"
                                     action="#{employeeUserBean.editEmployeeUser()}">
                    </h:commandButton>
                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>

</html>