<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="header">
            <ui:insert name="header">
                <ui:include src="/WEB-INF/templates/header.xhtml"/>
            </ui:insert>
        </div>
        <div id="wrapper">
            <div id="nav">
                <ui:insert name="menu">
                    <ui:include src="/WEB-INF/templates/menu.xhtml"/>
                </ui:insert>
            </div>
            <div id="content" class="center_content">
                <ui:insert name="center_content">
                    <ui:include src="/WEB-INF/templates/center_content.xhtml"/>
                </ui:insert>
            </div>  
        </div>
        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="/WEB-INF/templates/footer.xhtml"/>
            </ui:insert>
        </div>

    </h:body>

</html>
