<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition>
            <h:form> 
                <p:commandLink styleClass="menuLin" action="/adddailysales.xhtml" value="Zeszyt"  ajax="false"></p:commandLink>
                <p:commandLink styleClass="menuLin" action="/addphone.xhtml" value="Telefony"  ajax="false"></p:commandLink>
                <p:commandLink styleClass="menuLin" action="/addservice.xhtml" value="Serwis"  ajax="false"></p:commandLink>
                <p:commandLink styleClass="menuLin" action="/addgoods.xhtml" value="Magazyn"  ajax="false"></p:commandLink>
                <p:commandLink styleClass="menuLin" action="/addtax.xhtml" value="Admin"  disabled="#{not loginBean.hasRole()}" ajax="false"></p:commandLink>
                <p:commandLink styleClass="menuLin" action="#{loginBean.logout}" value="Wyloguj"  ajax="false"></p:commandLink>
            </h:form>
        </ui:composition>
    </h:body>
</html>
