<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body onload="#{dailySalesBean.summaryListener(ae)}">
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">       
                #{dailySalesBean.summaryListener(ae)}
                #{dailySalesBean.setClosed()}
                <h:form>
                    <span class="title">
                        <h:panelGrid columns="2" style="width: 1180px">
                            <h:outputText value="ZESZYT"/>
                            <h:panelGrid columns="2" style="float: right">
                                <h:outputText value="#{loginBean.userLogin}"/>
                                <h:outputText value="#{dailySalesBean.today}" >
                                    <f:convertDateTime pattern="yyyy-MM-dd" />
                                </h:outputText>
                            </h:panelGrid>
                        </h:panelGrid>
                    </span>

                    <h:panelGrid columns="4" style="padding: 10px; width: 1200px">
                        <h:panelGrid columns="4">
                            <h:outputText value="Kategoria"/>
                            <h:selectOneMenu id="typeGoodsId" styleClass="som" 
                                             value="#{dailySalesBean.dailySales.category}" 
                                             binding="#{dailySalesBean.typeGoodsSOM}">
                                <f:selectItems value="#{dailySalesBean.categoryList}" 
                                               var="typeGoods" itemValue="#{typeGoods.categoryName}" 
                                               itemLabel="#{typeGoods.categoryName}"/>
                                <f:ajax render="productId"/>
                            </h:selectOneMenu> 

                            <h:panelGroup/><h:panelGroup/>
                            <h:outputText value="Produkt"/>
                            <h:selectOneMenu id="productId" styleClass="som" 
                                             value="#{dailySalesBean.goods.id}"
                                             binding="#{dailySalesBean.productSOM}">
                                <f:selectItem itemValue="#{dailySalesBean.goods.id}" itemLabel="Wybierz"/>
                                <f:selectItems value="#{dailySalesBean.goodsList}" 
                                               var="goods" itemValue="#{goods.id}" 
                                               itemLabel="#{goods.name}"/>
                                <f:ajax listener="#{dailySalesBean.dailySalesGoodsListener(ae)}" 
                                        render="unitPriceId sumPriceId num" /> 
                            </h:selectOneMenu> 
                            <h:outputText id="num" value="#{dailySalesBean.num}"/>
                            <h:outputText value="- na magazynie"/>
                        </h:panelGrid>

                        <h:panelGrid columns="2">
                            <h:outputText value="Inna kategoria"/>
                            <h:inputText id="otherCategoryId" styleClass="som" 
                                         value="#{dailySalesBean.dailySales.category}"
                                         disabled="true" binding="#{dailySalesBean.otherCategory}">
                                <f:validateLength maximum="30"/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="otherCategoryId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Inny produkt"/>
                            <h:inputText id="otherProductId" styleClass="som" 
                                         value="#{dailySalesBean.dailySales.product}"
                                         disabled="true" binding="#{dailySalesBean.otherProduct}">
                                <f:validateLength maximum="30"/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="otherProductId" style="color:red;margin:8px;" errorClass="error" />
                        </h:panelGrid>

                        <h:panelGrid columns="1">
                            <h:panelGrid columns="2">
                                <h:outputText value="Ilość"/>
                                <h:inputText id="numberId" styleClass="som" style="width: 20px;" 
                                             value="#{dailySalesBean.dailySales.number}"
                                             required="true">
                                    <f:validateLongRange minimum="1"/>
                                    <f:ajax listener="#{dailySalesBean.dailySalesNumberListener(ae)}" 
                                            render="sumPriceId"/>
                                </h:inputText>
                                <h:panelGroup></h:panelGroup>
                                <h:message for="numberId" style="color:red;margin:8px;" errorClass="error" />
                            </h:panelGrid>
                            <h:commandButton id="otherButton" styleClass="but" style="width: 100px;" 
                                             value="Inny produkt" disabled="#{dailySalesBean.close}"
                                             action="#{dailySalesBean.change()}" immediate="true">
                                <f:ajax render="typeGoodsId productId otherCategoryId otherProductId" /> 
                            </h:commandButton>
                        </h:panelGrid>

                        <h:panelGrid columns="2">
                            <h:outputText value="Cena"/>
                            <h:inputText id="unitPriceId" styleClass="som" 
                                         value="#{dailySalesBean.dailySales.unitPrice}">
                                <f:validateRequired/>
                                <f:ajax listener="#{dailySalesBean.dailySalesNumberListener(ae)}" render="sumPriceId"/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="unitPriceId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Suma"/>
                            <h:outputText id="sumPriceId" styleClass="som" 
                                          value="#{dailySalesBean.dailySales.sumPrice}">
                            </h:outputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="sumPriceId" style="color:red;margin:8px;" errorClass="error" />
                        </h:panelGrid>

                    </h:panelGrid>
                    <h:commandButton id="addButtonId" styleClass="but" value="Dodaj" disabled="#{dailySalesBean.close}" 
                                     style="float: right; margin-right: 40px;" action="#{dailySalesBean.add()}">
                    </h:commandButton>

                    <h:panelGrid columns="2">
                        <p:calendar id="dateDownId" value="#{dailySalesBean.dateDown}" pattern="dd-MM-yyyy">
                            <p:ajax event="dateSelect" listener="#{dailySalesBean.summaryListener(ae)}" 
                                    update="dataTableId"/>
                        </p:calendar>
                        <p:calendar id="dateUpId" value="#{dailySalesBean.dateUp}" pattern="dd-MM-yyyy">
                            <p:ajax event="dateSelect" listener="#{dailySalesBean.summaryListener(ae)}" 
                                    update="dataTableId"/>
                        </p:calendar>
                    </h:panelGrid>



                    <h:dataTable id="dataTableId" class="goodsTable" 
                                 value="#{dailySalesBean.dailySalesList}" var="dailysales">
                        <h:column>
                            <h:column>
                                <h:selectBooleanCheckbox value="#{pdfBean.checked[dailysales.id]}" />
                            </h:column>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{dailysales.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data</f:facet>
                            <h:outputText value="#{dailysales.sellingDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Sprzedawca</f:facet>
                            <h:outputText value="#{dailysales.employeeUserId.userLogin}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Sklep</f:facet>
                            <h:outputText value="#{dailysales.shopId.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Kategoria</f:facet>
                            <h:outputText value="#{dailysales.category}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Produkt</f:facet>
                            <h:outputText value="#{dailysales.product}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Ilość</f:facet>
                            <h:outputText value="#{dailysales.number}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena</f:facet>
                            <h:outputText value="#{dailysales.unitPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Suma</f:facet>
                            <h:outputText value="#{dailysales.sumPrice}"/>
                        </h:column>
                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun" immediate="true" disabled="#{not loginBean.hasRole()}"
                                           action="#{dailySalesBean.deleteDailySales()}"
                                           actionListener="#{dailySalesBean.dailySalesListener(ae)}">
                                <f:param name="dailysalesID" value="#{dailysales.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                    <h:commandButton value="Faktura" styleClass="but" 
                                     style="width: 70px; margin: 10px; text-align: center" 
                                     action="#{pdfBean.loadCheckedDailySales()}"/>

                    <h:panelGrid columns="2">
                        <h:outputText value="Kasa dodatnia:"/>
                        <h:outputText id="cashPositiveId" value="#{dailySalesBean.cashPositive}"/>
                        <h:outputText value="Kasa ujemna:"/>
                        <h:outputText id="cashNegativeId" value="#{dailySalesBean.cashNegative}"/>
                        <h:outputText value="Suma z raportu:"/>
                        <h:inputText id="dailyReportId" value="#{dailySalesBean.dailyReport}">
                            <f:ajax listener="#{dailySalesBean.dailySalesReportListener(ae)}" 
                                    render="differenceReportId" />
                        </h:inputText>
                        <h:outputText value="Różnica:"/>
                        <h:outputText id="differenceReportId" value="#{dailySalesBean.differenceReport}"/>
                    </h:panelGrid>
                    <h:commandButton id="closeDay" styleClass="som" value="Zamknij dzień" 
                                     onclick="if (!confirm('Zamknąć dzień?'))
                                                 return false"
                                     immediate="true" action="#{dailySalesBean.closeAndSet()}">
                        <f:ajax render="dataTable2Id addButtonId therButtn 
                                typeGoodsId productId otherCategoryId otherProductId"/>
                    </h:commandButton>
                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>

</html>