<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">     
                <h:form>
                    <span class="title">
                        <h:panelGrid columns="2" style="width: 1180px">
                            <h:outputText value="DODAJ PRODUKT"/>
                            <h:panelGrid columns="2" style="float: right">

                                <h:outputText value="KATEGORIA" style="margin-right: 20px;"/>
                                <h:selectOneMenu id="typeGoods" styleClass="som" 
                                                 value="#{goodsBean.goods.typeGoodsId}">
                                    <f:converter converterId="typeGoodsConverter" />
                                    <f:selectItems value="#{typeGoodsBean.typeGoodsList}" 
                                                   var="typeGoods" itemValue="#{typeGoods}" 
                                                   itemLabel="#{typeGoods.categoryName}"/>
                                    <f:ajax render="dataTableId"/>
                                    <f:ajax render="nameId"/>
                                </h:selectOneMenu> 

                            </h:panelGrid>
                        </h:panelGrid>
                    </span>
                    <h:panelGrid columns="2" style="padding: 10px; width: 1200px">
                        <h:panelGrid columns="7">

                            <h:outputText value="Produkt "/>
                            <h:selectOneMenu id="nameId" styleClass="som" style="margin: 20px;" 
                                             value="#{goodsBean.goods.name}">
                                <f:selectItems value="#{goodsBean.productList}" var="product" 
                                               itemValue="#{product.name}" itemLabel="#{product.name}"/>
                            </h:selectOneMenu> 

                            <h:commandLink value="+"
                                           action="addproduct.xhtml" styleClass="addButton" immediate="true">
                            </h:commandLink>

                            <h:outputText value="Podatek"/>
                            <h:selectOneMenu id="taxId" styleClass="som" style="width: 50px; margin: 20px;" 
                                             value="#{goodsBean.goods.taxId}">
                                <f:converter converterId="taxConverter" />
                                <f:selectItems value="#{taxBean.taxList}" var="tax" 
                                               itemValue="#{tax}" itemLabel="#{tax.rate}"/>
                                <f:ajax />
                            </h:selectOneMenu>
                            <h:outputText value="Liczba"/>
                            <h:inputText id="numberId" styleClass="som" style="margin: 20px;" 
                                         value="#{goodsBean.goods.number}">
                                <f:validateLongRange minimum="1"/>
                                <f:validateRequired />
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:panelGroup></h:panelGroup>
                            <h:panelGroup></h:panelGroup>
                            <h:panelGroup></h:panelGroup>
                            <h:panelGroup></h:panelGroup>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="netPurchasePriceId" style="color:red;margin:8px;" errorClass="error" />

                        </h:panelGrid>
                        <h:panelGrid columns="1" style="float: right">
                            <h:panelGrid columns="4">

                                <h:outputText value="Cena zakupu netto" style="display: block; width: 150px"/>
                                <h:inputText id="netPurchasePriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.netPurchasePrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="grossPurchasePriceId" execute="@this" />
                                    <f:ajax event="blur" render="netPurchasePriceId" execute="@this" />
                                </h:inputText>      


                                <h:outputText value="Cena zakupu brutto" style="display: block; width: 150px"/>
                                <h:inputText id="grossPurchasePriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.grossPurchasePrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="netPurchasePriceId" execute="@this" />
                                    <f:ajax event="blur" render="grossPurchasePriceId" execute="@this" />

                                    <h:message for="netPurchasePriceId" style="color:red;margin:8px;" errorClass="error" />
                                    <h:panelGroup></h:panelGroup>
                                    <h:message for="grossPurchasePriceId" style="color:red;margin:8px;" errorClass="error" />
                                    <h:panelGroup></h:panelGroup>

                                </h:inputText>

                            </h:panelGrid>
                            <h:panelGrid columns="4">

                                <h:outputText value="Cena sprzedaży netto" style="display: block; width: 150px"/>
                                <h:inputText id="netSellingPriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.netSellingPrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="grossSellingPriceId" execute="@this" />
                                    <f:ajax event="blur" render="netSellingPriceId" execute="@this" />
                                </h:inputText>

                                <h:outputText value="Cena sprzedaży brutto" style="display: block; width: 150px"/>
                                <h:inputText id="grossSellingPriceId" styleClass="som" 
                                             style="width: 60px; margin-right: 20px;" 
                                             value="#{goodsBean.goods.grossSellingPrice}">
                                    <f:validateDoubleRange minimum="0.0"/>
                                    <f:validateRequired />
                                    <f:ajax event="keyup" render="netSellingPriceId" execute="@this" />
                                    <f:ajax event="blur" render="grossSellingPriceId" execute="@this" />
                                </h:inputText>

                                <h:message for="netSellingPriceId" style="color:red;margin:8px;" errorClass="error" />
                                <h:panelGroup></h:panelGroup>
                                <h:message for="grossSellingPriceId" style="color:red;margin:8px;" errorClass="error" />
                                <h:panelGroup></h:panelGroup>

                            </h:panelGrid>
                        </h:panelGrid>
                    </h:panelGrid>

                    <h:commandButton id="loginButton" styleClass="but" style="float: right; margin-right: 40px;" 
                                     value="Dodaj" disabled="false" action="#{goodsBean.addGoods()}">
                    </h:commandButton>

                    <span class="title"><h:outputText value="STAN MAGAZYNU"/></span>

                    <h:dataTable id="dataTableId" class="goodsTable" value="#{goodsBean.goodsList}" var="goods">
                        <h:column>
                            <f:facet name="header">Kategoria</f:facet>
                            <h:outputText value="#{goods.typeGoodsId.categoryName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Nazwa</f:facet>
                            <h:outputText value="#{goods.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Liczba</f:facet>
                            <h:outputText value="#{goods.number}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">VAT</f:facet>
                            <h:outputText value="#{goods.taxId.rate}%"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena zak. netto</f:facet>
                            <h:outputText value="#{goods.netPurchasePrice}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena zak. brutto</f:facet>
                            <h:outputText value="#{goods.grossPurchasePrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena sprzed. netto</f:facet>
                            <h:outputText value="#{goods.netSellingPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena sprzed. brutto</f:facet>
                            <h:outputText value="#{goods.grossSellingPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data dodania</f:facet>
                            <h:outputText value="#{goods.addedDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data modyfikacji</f:facet>
                            <h:outputText value="#{goods.modyficationDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Sklep</f:facet>
                            <h:outputText value="#{goods.shopId.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Edytuj</f:facet>
                            <h:commandLink value="Edytuj"
                                           action="#{goodsBean.loadGoods()}"
                                           actionListener="#{goodsBean.goodsListener(ae)}" immediate="true">
                                <f:param name="goodsID" value="#{goods.id}"/>
                            </h:commandLink>
                        </h:column>
                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun"
                                           action="#{goodsBean.deleteGoods()}" disabled="#{not loginBean.hasRole()}"
                                           actionListener="#{goodsBean.goodsListener(ae)}" immediate="true">
                                <f:param name="goodsID" value="#{goods.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>

</html>