<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">       
                <h:form>
                    <span class="title">
                        <h:panelGrid columns="2" style="width: 1180px">
                        <h:outputText value="DODAJ PRODUKT"/>
                        <h:commandButton id="returnButton" styleClass="but" 
                                         style="float: right" value="Wstecz" disabled="false"
                                         action="/addgoods.xhtml" immediate="true">
                        </h:commandButton>
                        </h:panelGrid>
                    </span>
                    <h:panelGrid columns="4"  style="width: 500px; margin-left: 350px">
                        
                        <h:outputText value="Kategoria"/>
                        <h:selectOneMenu id="typeGoodsId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{productBean.product.typeGoodsId}">
                            <f:converter converterId="typeGoodsConverter" />
                            <f:selectItems value="#{typeGoodsBean.typeGoodsList}" 
                                           var="typeGoods" itemValue="#{typeGoods}" 
                                           itemLabel="#{typeGoods.categoryName}"/>
                            <f:ajax render="dataTableId type"/>
                        </h:selectOneMenu> 
                        
                        <h:outputText value="Nazwa"/>
                        <h:inputText id="productId" styleClass="som" style="margin: 5px;" 
                                     value="#{productBean.product.name}">
                            <f:validateLength maximum="40"/>
                            <f:validateRequired/>
                        </h:inputText>
                        
                        <h:panelGroup/><h:panelGroup/><h:panelGroup/>
                        <h:message for="productId" style="color:red;margin:8px;" errorClass="error" />
                        
                        <h:panelGroup/><h:panelGroup/><h:panelGroup/>
                        <h:commandButton id="addButton" styleClass="but" style="float: right" 
                                         value="Dodaj" disabled="false"
                                         action="#{productBean.addProduct()}">
                        </h:commandButton>
                    </h:panelGrid>
                    <h:panelGrid columns="1">
                        
                    </h:panelGrid>
                    <h:dataTable id="dataTableId" class="goodsTable" 
                                 style="width: 500px; margin-left: 350px" 
                                 value="#{productBean.productList}" var="product">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{product.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Nazwa</f:facet>
                            <h:outputText value="#{product.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Kategoria</f:facet>
                            <h:outputText value="#{product.typeGoodsId.categoryName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Edytuj</f:facet>
                            <h:commandLink value="Edytuj" immediate="true"
                                           action="#{productBean.loadProduct()}"
                                           actionListener="#{productBean.productListener(ae)}">
                                <f:param name="productID" value="#{product.id}"/>
                            </h:commandLink>
                        </h:column>
                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun" immediate="true" disabled="#{not loginBean.hasRole()}"
                                           action="#{productBean.deleteProduct()}"
                                           actionListener="#{productBean.productListener(ae)}">
                                <f:param name="productID" value="#{product.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>  
            </ui:define>
        </ui:composition>

    </h:body>

</html>