<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">     
                <h:form>
                    <span class="title"><h:outputText value="DANE TELEFONU"/></span>

                    <h:panelGroup></h:panelGroup>
                    <h:panelGrid columns="4" style="padding: 10px; width: 1200px">
                        <h:panelGrid columns="2">

                            <h:outputText value="Producent"/>
                            
                            <h:inputText id="producerId" styleClass="som" 
                                         value="#{phoneBean.phone.producer}">
                                <f:validateLength maximum="20" />
                                <f:validateRequired />
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="producerId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Model"/>
                            
                            <h:inputText id="modelId" styleClass="som" 
                                         value="#{phoneBean.phone.model}">
                                <f:validateLength maximum="20" />
                                <f:validateRequired />
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="modelId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="IMEI"/>
                            
                            <h:inputText id="imeiNumberId" styleClass="som" 
                                         value="#{phoneBean.phone.imeiNumber}">
                                <f:validateLength minimum="15" maximum="15"/>
                                <f:validateRequired />
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="imeiNumberId" style="color:red;margin:8px;" errorClass="error" />

                        </h:panelGrid>
                        <h:panelGrid columns="2">

                            <h:outputText value="Podatek"/>
                            <h:selectOneMenu id="taxId" styleClass="som" 
                                             style="width: 50px; margin-right: 50px" 
                                             value="#{phoneBean.phone.taxId}">
                                <f:validateRequired />
                                <f:converter converterId="taxConverter" />
                                <f:selectItems value="#{taxBean.taxList}" 
                                               var="tax" itemValue="#{tax}" 
                                               itemLabel="#{tax.rate}"/>
                                <f:ajax />
                            </h:selectOneMenu>

                        </h:panelGrid>
                        <h:panelGrid columns="2" style="float: left">

                            <h:outputText value="Cena zakupu netto" 
                                          style="display: block; width: 150px"/>
                            <h:inputText id="netPurchasePriceId" styleClass="som" 
                                         value="#{phoneBean.phone.netPurchasePrice}">
                                <f:validateDoubleRange minimum="0.0"/>
                                <f:validateRequired />
                                <f:ajax event="keyup" execute="@this" render="grossPurchasePriceId"/>
                                <f:ajax event="blur" execute="@this" render="netPurchasePriceId"/>
                            </h:inputText>      
                            <h:message for="netPurchasePriceId" style="color:red;margin:8px;" errorClass="error" />
                            <h:panelGroup></h:panelGroup>

                            <h:outputText value="Cena zakupu brutto" 
                                          style="display: block; width: 150px"/>
                            <h:inputText id="grossPurchasePriceId" styleClass="som" 
                                         value="#{phoneBean.phone.grossPurchasePrice}">
                                <f:validateDoubleRange minimum="0.0"/>
                                <f:validateRequired />
                                <f:ajax event="keyup" execute="@this" render="netPurchasePriceId"/>
                                <f:ajax event="blur" execute="@this" render="grossPurchasePriceId"/>
                            </h:inputText>
                            <h:message for="grossPurchasePriceId" style="color:red;margin:8px;" errorClass="error" />
                            <h:panelGroup></h:panelGroup>
                            
                        </h:panelGrid>
                        <h:panelGrid columns="2" style="float: left">

                            <h:outputText value="Cena sprzedaży netto" 
                                          style="display: block; width: 150px"/>
                            <h:inputText id="netSellingPriceId" styleClass="som" 
                                         value="#{phoneBean.phone.netSellingPrice}">
                                <f:validateDoubleRange minimum="0.0"/>
                                <f:validateRequired />
                                <f:ajax event="keyup" execute="@this" render="grossSellingPriceId"/>
                                <f:ajax event="blur" execute="@this" render="netSellingPriceId"/>
                            </h:inputText>
                            <h:message for="netSellingPriceId" style="color:red;margin:8px;" errorClass="error" />
                            <h:panelGroup></h:panelGroup>

                            <h:outputText value="Cena sprzedaży brutto" 
                                          style="display: block; width: 150px"/>
                            <h:inputText id="grossSellingPriceId" styleClass="som" 
                                         value="#{phoneBean.phone.grossSellingPrice}">
                                <f:validateDoubleRange minimum="0.0"/>
                                <f:validateRequired />
                                <f:ajax event="keyup" execute="@this" render="netSellingPriceId"/>
                                <f:ajax event="blur" execute="@this" render="grossSellingPriceId"/>
                            </h:inputText>
                            <h:message for="grossSellingPriceId" style="color:red;margin:8px;" errorClass="error" />
                            <h:panelGroup></h:panelGroup>

                        </h:panelGrid>
                    </h:panelGrid>
                    <h:panelGrid columns="3" style="padding: 10px; width: 1200px">
                        <h:panelGrid columns="2">

                            <h:outputText value="Stan"/>
                            <h:selectOneMenu id="stateId" styleClass="som" 
                                             style="width: 200px" 
                                             value="#{phoneBean.phone.statePhone}">
                                <f:selectItem itemValue="nowy" itemLabel="Nowy" />
                                <f:selectItem itemValue="używany idealny" itemLabel="Uzywany idealny" />
                                <f:selectItem itemValue="używany bardzo dobry" itemLabel="Uzywany bardzo dobry" />
                                <f:selectItem itemValue="używany dostateczny" itemLabel="Uzywany dostateczny" />
                                <f:selectItem itemValue="używany uszkodzony" itemLabel="Uzywany uszkodzony" />
                            </h:selectOneMenu>

                            <h:outputText value="Simlock"/>
                            <h:selectBooleanCheckbox value="#{phoneBean.phone.simlock}" /> 

                        </h:panelGrid>

                        <h:panelGrid columns="2">
                            <h:outputText value="AKCESORIA" style="font-weight: bold; color: #AFAFAF;"></h:outputText><h:panelGroup></h:panelGroup>
                            <h:panelGrid columns="2">
                                <h:outputText value="Bateria"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.battery}" /> 
                                <h:outputText value="Pudełko"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.box}" /> 
                                <h:outputText value="Ładowarka"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.charger}" /> 
                                <h:outputText value="Słuchawki"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.headset}" /> 
                            </h:panelGrid>
                            <h:panelGrid columns="2">
                                <h:outputText value="Instrukcja"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.manual}" /> 
                                <h:outputText value="Karta pamięci"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.memorycard}" /> 
                                <h:outputText value="Kabel PC"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.pccable}" /> 
                                <h:outputText value="Gwarancja"></h:outputText>
                                <h:selectBooleanCheckbox value="#{phoneBean.equipment.warranty}" /> 
                            </h:panelGrid>
                        </h:panelGrid>

                        <h:panelGrid columns="4" style="float: right">
                            <h:outputText value="Gwarancja"/>
                            <h:inputTextarea id="guaranteesId" styleClass="som" 
                                             value="#{phoneBean.phone.guarantees}"
                                             style="resize: none; width: 250px; height: 100px;">
                                <f:validateLength minimum="0" maximum="100" />
                            </h:inputTextarea>
                            

                            <h:outputText value="Opis"/>
                            <h:inputTextarea id="descriptionId" styleClass="som" 
                                             value="#{phoneBean.phone.description}"
                                             style="resize: none; width: 250px; height: 100px;">
                                <f:validateLength minimum="0" maximum="100" />
                            </h:inputTextarea>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="guaranteesId" style="color:red;margin:8px;" errorClass="error" />
                            <h:panelGroup></h:panelGroup>
                            <h:message for="descriptionId" style="color:red;margin:8px;" errorClass="error" />
                            
                        </h:panelGrid>
                    </h:panelGrid>


                    <span class="title"><h:outputText value="DANE O SPRZEDAJĄCYM"/></span>
                    <h:panelGrid columns="3" style="padding: 10px; width: 1200px;">
                        <h:panelGrid columns="2">

                            <h:outputText value="Imię"/>
                            <h:inputText id="firstNameId" styleClass="som" 
                                         value="#{phoneBean.seller.firstName}">
                                <f:validateLength maximum="20"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="firstNameId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Nazwisko"/>
                            <h:inputText id="lastNameId" styleClass="som" 
                                         value="#{phoneBean.seller.lastName}">
                                <f:validateLength maximum="20"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="lastNameId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Firma"/>
                            <h:inputTextarea id="companyNameId" styleClass="som" 
                                             style="resize: none;" 
                                             value="#{phoneBean.seller.companyName}">
                                <f:validateLength maximum="30"/>
                            </h:inputTextarea>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="companyNameId" style="color:red;margin:8px;" errorClass="error" />

                        </h:panelGrid>
                        <h:panelGrid columns="2">
                            <h:outputText value="Telefon"/>
                            <h:inputText id="phoneNumberId" styleClass="som" 
                                         value="#{phoneBean.seller.phoneNumber}">
                                <f:validateLength maximum="11"/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="phoneNumberId" style="color:red;margin:8px;" errorClass="error" />
                            
                            <h:outputText value="Email"/>
                            <h:inputText id="emailAdressId" styleClass="som" 
                                         value="#{phoneBean.seller.emailAdress}">
                                <f:validateRegex pattern="^[0-9a-zA-Z_.-]+@[0-9a-zA-Z.-]+.[a-zA-Z]{2,3}"/>
                                <f:validateLength maximum="50"/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="emailAdressId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="NIP"/>
                            <h:inputText id="nipNumberId" styleClass="som" 
                                         value="#{phoneBean.seller.nipNumber}">
                                <f:validateLength maximum="10"/>
                            </h:inputText>
                            <h:outputText value="Typ dokumentu"/>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="nipNumberId" style="color:red;margin:8px;" errorClass="error" />

                            <h:selectOneMenu id="documentTypeId" styleClass="som" style="width: 125px;" 
                                             value="#{phoneBean.seller.documentType}">
                                <f:selectItem itemValue="dowód osobisty" itemLabel="Dowód osobisty" />
                                <f:selectItem itemValue="prawo jazdy" itemLabel="Prawo jazdy" />
                                <f:selectItem itemValue="paszport" itemLabel="Paszport" />
                            </h:selectOneMenu>

                            <h:outputText value="Numer dokumentu"/>
                            <h:inputText id="documentNumberId" styleClass="som" 
                                         value="#{phoneBean.seller.documentNumber}">
                                <f:validateLength maximum="10"/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="documentNumberId" style="color:red;margin:8px;" errorClass="error" />

                        </h:panelGrid>
                        <h:panelGrid columns="2">

                            <h:outputText value="Ulica"/>
                            <h:inputText id="streetNameId" styleClass="som" 
                                         value="#{phoneBean.adress.streetName}">
                                <f:validateLength maximum="30"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="streetNameId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Numer budynku"/>
                            <h:inputText id="buildingNumberId" styleClass="som" 
                                         value="#{phoneBean.adress.buildingNumber}">
                                <f:validateLength maximum="6"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="buildingNumberId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Numer mieszkania"/>
                            <h:inputText id="apartmentNumberId" styleClass="som" 
                                         value="#{phoneBean.adress.apartmentNumber}">
                                <f:validateLength maximum="6"/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="apartmentNumberId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Miasto"/>
                            <h:inputText id="cityId" styleClass="som" 
                                         value="#{phoneBean.adress.city}">
                                <f:validateLength maximum="30"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="cityId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Kod pocztowy"/>
                            <h:inputText id="postCodeId" styleClass="som" 
                                         value="#{phoneBean.adress.postCode}">
                                <f:validateRegex pattern="^[0-9]{2}-[0-9]{3}$" />
                                <f:validateLength maximum="6"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="postCodeId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Kraj"/>
                            <h:inputText id="countryId" styleClass="som" 
                                         value="#{phoneBean.adress.country}">
                                <f:validateLength maximum="20"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="countryId" style="color:red;margin:8px;" errorClass="error" />

                        </h:panelGrid>
                    </h:panelGrid>

                    <h:commandButton id="addPhoneButton" styleClass="but" 
                                     style="float: right; margin-right: 40px;" 
                                     value="Dodaj" disabled="false"
                                     action="#{phoneBean.addPhone()}">
                    </h:commandButton>

                    <span class="title"><h:outputText value="STAN MAGAZYNU"/></span>

                    <h:dataTable id="phoneTableId" class="goodsTable" 
                                 value="#{phoneBean.phoneList}" var="phone">
                        <h:column>
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{phone.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Producent</f:facet>
                            <h:outputText value="#{phone.producer}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Model</f:facet>
                            <h:outputText value="#{phone.model}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">IMEI</f:facet>
                            <h:outputText value="#{phone.imeiNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena zakupu</f:facet>
                            <h:outputText value="#{phone.grossPurchasePrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena sprzedaży</f:facet>
                            <h:outputText value="#{phone.grossSellingPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data zakupu</f:facet>
                            <h:outputText value="#{phone.purchaseDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data sprzedaży</f:facet>
                            <h:outputText value="#{phone.saleDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Sprzedający</f:facet>
                            <h:outputText value="#{phone.sellerId.firstName} 
                                          #{phone.sellerId.lastName} 
                                          #{phone.sellerId.companyName}" />
                        </h:column>

                        <h:column>
                            <f:facet name="header">Sprzedaj</f:facet>
                            <h:commandLink value="Sprzedaj" onclick="if (!confirm('Sprzedać telefon?'))
                                        return false"
                                           action="#{phoneBean.sellPhone()}"
                                           actionListener="#{phoneBean.phoneListener(ae)}" immediate="true">
                                <f:param name="phoneID" value="#{phone.id}"/>
                            </h:commandLink>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Edytuj</f:facet>
                            <h:commandLink value="Edytuj"
                                           action="#{phoneBean.loadPhone()}"
                                           actionListener="#{phoneBean.phoneListener(ae)}" immediate="true">
                                <f:param name="phoneID" value="#{phone.id}"/>
                            </h:commandLink>
                        </h:column>
                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun" disabled="#{not loginBean.hasRole()}"
                                           action="#{phoneBean.deletePhone()}"
                                           actionListener="#{phoneBean.phoneListener(ae)}" immediate="true">
                                <f:param name="phoneID" value="#{phone.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>


                    <span class="title"><h:outputText value="TELEFONY SPRZEDANE"/></span>

                    <h:dataTable id="phoneSellTableId" class="goodsTable" 
                                 value="#{phoneBean.sellPhoneList}" var="phone">
                        <h:column>
                            <f:facet name="header">ID</f:facet>
                            <h:outputText value="#{phone.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Producent</f:facet>
                            <h:outputText value="#{phone.producer}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Model</f:facet>
                            <h:outputText value="#{phone.model}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">IMEI</f:facet>
                            <h:outputText value="#{phone.imeiNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena zakupu</f:facet>
                            <h:outputText value="#{phone.grossPurchasePrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Cena sprzedaży</f:facet>
                            <h:outputText value="#{phone.grossSellingPrice}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data zakupu</f:facet>
                            <h:outputText value="#{phone.purchaseDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data sprzedaży</f:facet>
                            <h:outputText value="#{phone.saleDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Sprzedający</f:facet>
                            <h:outputText value="#{phone.sellerId.firstName} 
                                          #{phone.sellerId.lastName} 
                                          #{phone.sellerId.companyName}" />
                        </h:column>

                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun" disabled="#{not loginBean.hasRole()}"
                                           action="#{phoneBean.deletePhone()}"
                                           actionListener="#{phoneBean.phoneListener(ae)}" immediate="true">
                                <f:param name="phoneID" value="#{phone.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>

                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>

</html>