<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">       
                <h:form>
                    <span class="title">
                        <h:outputText value="DODAJ POZYCJĘ SERWISOWĄ"/>
                    </span>
                    <h:panelGrid columns="2" style="width: 1200px">
                        <h:panelGrid columns="2" style="margin: 0 auto">

                            <h:outputText value="Telefon"/>
                            <h:inputText id="phoneServiceId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{serviceBean.service.phoneService}">
                                <f:validateLength maximum="40"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="phoneServiceId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="IMEI"/>
                            <h:inputText id="imeiNumberId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{serviceBean.service.imeiNumber}">
                                <f:validateLength minimum="15" maximum="15"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="imeiNumberId" style="color:red;margin:8px;" errorClass="error" />

                            <h:outputText value="Koszt"/>
                            <h:inputText id="expenseId" 
                                         styleClass="som" style="margin: 5px;" 
                                         value="#{serviceBean.service.expense}">
                                <f:validateDoubleRange minimum="0.0"/>
                                <f:validateRequired/>
                            </h:inputText>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="expenseId" style="color:red;margin:8px;" errorClass="error" />
                        </h:panelGrid>


                        <h:panelGrid columns="2" style="margin: 0 auto">
                            <h:outputText value="Opis usterki"/>
                            <h:inputTextarea id="productId" styleClass="som" 
                                             style="margin: 5px; resize: none; width: 200px; height: 60px" 
                                             value="#{serviceBean.service.description}">
                                <f:validateLength maximum="100"/>
                                <f:validateRequired/>
                            </h:inputTextarea>
                            <h:panelGroup></h:panelGroup>
                            <h:message for="productId" style="color:red;margin:8px;" errorClass="error" />
                        </h:panelGrid>
                    </h:panelGrid>

                    <h:commandButton id="addButton" styleClass="but" style="float: right; margin: 5px" 
                                     value="Dodaj" disabled="false"
                                     action="#{serviceBean.addService()}">
                    </h:commandButton>

                    <span class="title"><h:outputText value="SERWIS PRZYJĘTY"/></span>
                    <h:dataTable id="dataTableId" class="goodsTable" style="width: 1200px;" 
                                 value="#{serviceBean.serviceList}" var="service">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{service.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Telefon</f:facet>
                            <h:outputText value="#{service.phoneService}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">IMEI</f:facet>
                            <h:outputText value="#{service.imeiNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Opis usterki</f:facet>
                            <h:outputText value="#{service.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data przyjęcia</f:facet>
                            <h:outputText value="#{service.dateOfAdoption}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data odbioru</f:facet>
                            <h:outputText value="#{service.dateOfReceipt}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Koszt</f:facet>
                            <h:outputText value="#{service.expense}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Wykonaj</f:facet>
                            <h:commandLink value="Wykonaj" immediate="true" onclick="if (!confirm('Wykonać serwis?'))
                                        return false"
                                           action="#{serviceBean.sellService()}"
                                           actionListener="#{serviceBean.serviceListener(ae)}">
                                <f:param name="serviceID" value="#{service.id}"/>
                            </h:commandLink>
                        </h:column>
                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Edytuj</f:facet>
                            <p:commandLink value="Edytuj" immediate="true" disabled="#{not loginBean.hasRole()}"
                                           action="#{serviceBean.loadService()}"
                                           actionListener="#{serviceBean.serviceListener(ae)}">
                                <f:param name="serviceID" value="#{service.id}"/>
                            </p:commandLink>
                        </h:column>
                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun" immediate="true" disabled="#{not loginBean.hasRole()}"
                                           action="#{serviceBean.deleteService()}"
                                           actionListener="#{serviceBean.serviceListener(ae)}">
                                <f:param name="serviceID" value="#{service.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>

                    <span class="title"><h:outputText value="SERWIS WYKONANY"/></span>
                    <h:dataTable id="dataSellTableId" class="goodsTable" style="width: 1200px;" 
                                 value="#{serviceBean.sellServiceList}" var="service">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{service.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Telefon</f:facet>
                            <h:outputText value="#{service.phoneService}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">IMEI</f:facet>
                            <h:outputText value="#{service.imeiNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Opis usterki</f:facet>
                            <h:outputText value="#{service.description}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data przyjęcia</f:facet>
                            <h:outputText value="#{service.dateOfAdoption}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data odbioru</f:facet>
                            <h:outputText value="#{service.dateOfReceipt}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Koszt</f:facet>
                            <h:outputText value="#{service.expense}"/>
                        </h:column>
                        <h:column rendered="#{loginBean.hasRole()}">
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun" immediate="true" disabled="#{not loginBean.hasRole()}"
                                           action="#{serviceBean.deleteService()}"
                                           actionListener="#{serviceBean.serviceListener(ae)}">
                                <f:param name="serviceID" value="#{service.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>  
            </ui:define>
        </ui:composition>

    </h:body>

</html>