<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">   
                <span class="title"><h:outputText value="Początkowe dane aplikacji"></h:outputText></span>  

                <span class="title" style="margin-top: 50px;"><h:outputText value="Stawki VAT"></h:outputText></span>  
                <h:form>
                    <h:panelGroup></h:panelGroup>
                    <h:panelGrid columns="3">
                        <h:outputText value="Stawka"></h:outputText>
                        <h:inputText id="taxId" styleClass="som" value="#{taxBean.tax.rate}"
                                     required="true">
                        </h:inputText>
                    </h:panelGrid>
                    <h:commandButton id="loginButton" styleClass="but" value="Dodaj" disabled="false"
                                     action="#{taxBean.addTax()}">
                    </h:commandButton>
                </h:form>
                <h:form>
                    <h:dataTable class="goodsTable" style="width: 400px;" value="#{taxBean.taxList}" var="tax">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{tax.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Stawka</f:facet>
                            <h:outputText value="#{tax.rate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun"
                                           action="#{taxBean.deleteTax()}"
                                           actionListener="#{taxBean.taxListener(ae)}">
                                <f:param name="taxID" value="#{tax.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>  

                <span class="title" style="margin-top: 50px;"><h:outputText value="Kategorie towarów"></h:outputText></span>  
                <h:form>
                    <h:panelGroup></h:panelGroup>
                    <h:panelGrid columns="3">
                        <h:outputText value="Kategoria"></h:outputText>
                        <h:inputText id="taxId" styleClass="som" value="#{typeGoodsBean.typeGoods.categoryName}"
                                     required="true">
                        </h:inputText>
                    </h:panelGrid>
                    <h:commandButton id="loginButton" styleClass="but" value="Dodaj" disabled="false"
                                     action="#{typeGoodsBean.addTypeGoods()}">
                    </h:commandButton>
                </h:form>
                <h:form>
                    <h:dataTable class="goodsTable" style="width: 400px;" 
                                 value="#{typeGoodsBean.typeGoodsList}" var="typegoods">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{typegoods.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Stawka</f:facet>
                            <h:outputText value="#{typegoods.categoryName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun"
                                           action="#{typeGoodsBean.deleteTypeGoods()}"
                                           actionListener="#{typeGoodsBean.typeGoodsListener(ae)}">
                                <f:param name="typeGoodsID" value="#{typegoods.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>
                <span class="title" style="margin-top: 50px;"><h:outputText value="Sklepy"></h:outputText></span>  
                <h:form>
                    <h:panelGroup></h:panelGroup>
                    <h:panelGrid columns="3">
                        <h:outputText value="Nazwa"></h:outputText>
                        <h:inputText id="nameId" styleClass="som" value="#{shopBean.shop.name}"
                                     required="true">
                        </h:inputText>
                    </h:panelGrid>
                    <h:commandButton id="addButton" styleClass="but" value="Dodaj" disabled="false"
                                     action="#{shopBean.addShop()}">
                    </h:commandButton>
                </h:form>
                <h:form>
                    <h:dataTable class="goodsTable" style="width: 400px;" value="#{shopBean.shopList}" var="shop">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{shop.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Nazwa</f:facet>
                            <h:outputText value="#{shop.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun"
                                           action="#{shopBean.deleteShop()}"
                                           actionListener="#{shopBean.shopListener(ae)}">
                                <f:param name="shopBeanID" value="#{shop.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>   

                <span class="title" style="margin-top: 50px;"><h:outputText value="Typ pracownika"></h:outputText></span>  
                <h:form>
                    <h:panelGroup></h:panelGroup>
                    <h:panelGrid columns="3">
                        <h:outputText value="Typ"></h:outputText>
                        <h:inputText id="userTypeId" styleClass="som" value="#{employeeUserTypeBean.userType.type}"
                                     required="true">
                        </h:inputText>
                    </h:panelGrid>
                    <h:commandButton id="loginButton" styleClass="but" value="Dodaj" disabled="false"
                                     action="#{employeeUserTypeBean.addEmployeeUserType()}">
                    </h:commandButton>
                </h:form>
                <h:form>
                    <h:dataTable class="goodsTable" style="width: 400px;" 
                                 value="#{employeeUserTypeBean.employeeUserTypeList}" var="typuser">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{typuser.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Typ</f:facet>
                            <h:outputText value="#{typuser.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun"
                                           action="#{employeeUserTypeBean.deleteEmployeeUserType()}"
                                           actionListener="#{employeeUserTypeBean.employeeUserTypeListener(ae)}">
                                <f:param name="employeeusertypeID" value="#{typuser.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>   
                <span class="title" style="margin-top: 50px;"><h:outputText value="Pracownicy"></h:outputText></span>  
                <h:form>
                    <h:panelGroup></h:panelGroup>
                    <h:panelGrid columns="3">
                        <h:outputText value="Login"></h:outputText>
                        <h:inputText id="loginId" styleClass="som" value="#{employeeUserBean.user.userLogin}"
                                     required="true">
                            <f:validateLength minimum="4" maximum="10" />
                        </h:inputText>
                        <h:message for="loginId" style="color:red" />

                        <h:outputText value="Hasło"></h:outputText>
                        <h:inputSecret id="passwordId" styleClass="som" value="#{employeeUserBean.user.userPassword}"
                                       required="true" >
                            <f:validateLength minimum="4" maximum="10" />
                            <f:validator validatorId="PasswordValidator" />
                        </h:inputSecret>
                        <h:message for="passwordId" style="color:red" />

                        <h:outputText id="typeId" value="Typ"></h:outputText>
                        <h:selectOneMenu id="usertype" styleClass="som" 
                                         value="#{employeeUserBean.user.userTypeId}" required="true">
                            <f:converter converterId="employeeUserTypeConverter" />
                            <f:selectItems value="#{employeeUserTypeBean.employeeUserTypeList}" 
                                           var="usertype" itemValue="#{usertype}" itemLabel="#{usertype.type}"/>
                        </h:selectOneMenu>
                        <h:message for="typeId" style="color:red" />

                    </h:panelGrid>
                    <h:commandButton id="loginButton" styleClass="but" value="Rejestruj" disabled="false"
                                     action="#{employeeUserBean.addEmployeeUser()}">
                    </h:commandButton>
                </h:form>
                <h:form>
                    <h:dataTable value="#{employeeUserBean.employeeUserList}" class="goodsTable" 
                                 style="width: 400px;" var="employeeuser">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{employeeuser.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Login</f:facet>
                            <h:outputText value="#{employeeuser.userLogin}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Typ</f:facet>
                            <h:outputText value="#{employeeuser.userTypeId == null ? 'Brak' : employeeuser.userTypeId.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Edytuj</f:facet>
                            <h:commandLink value="Edytuj"
                                           action="#{employeeUserBean.loadEmployeeUser}"
                                           actionListener="#{employeeUserBean.employeeListener(ae)}">
                                <f:param name="employeeuserID" value="#{employeeuser.id}"/>
                            </h:commandLink>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun"
                                           action="#{employeeUserBean.deleteEmployeeUser}"
                                           actionListener="#{employeeUserBean.employeeListener(ae)}">
                                <f:param name="employeeuserID" value="#{employeeuser.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>

                <span class="title" style="margin-top: 50px;"><h:outputText value="Podsumowania sprzedaży"></h:outputText></span>  
                <h:form>
                    <h:dataTable id="dataTable2Id" class="goodsTable" style="width: 100%"
                                 value="#{dailySummaryReportBean.dailySummaryReportList}" var="dailySummaryReport">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{dailySummaryReport.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Pieniądze zarobione</f:facet>
                            <h:outputText value="#{dailySummaryReport.moneyEarned}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Pieniądze wydane</f:facet>
                            <h:outputText value="#{dailySummaryReport.moneySpent}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Różnica</f:facet>
                            <h:outputText value="#{dailySummaryReport.moneySum}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Kwota z raportu</f:facet>
                            <h:outputText value="#{dailySummaryReport.moneyReport}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Data</f:facet>
                            <h:outputText value="#{dailySummaryReport.summaryDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Stan kasy</f:facet>
                            <h:outputText value="#{dailySummaryReport.totalStateCash}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Usun</f:facet>
                            <h:commandLink value="Usun" immediate="true"
                                           action="#{dailySummaryReportBean.deleteDailySummaryReport()}"
                                           actionListener="#{dailySummaryReportBean.dailySummaryReportListener(ae)}">
                                <f:param name="dailySummaryReportID" value="#{dailySummaryReport.id}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>

            </ui:define>
        </ui:composition>

    </h:body>

</html>