<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:body>
        <ui:composition template="/WEB-INF/templates/BasicTemplate.xhtml">
            <ui:define name="center_content">      
                <h:form>
                    <span class="title">
                        <h:outputText value="DANE FIRMY"></h:outputText>
                        <h:outputText value="DANE FAKTURY" style="margin-left: 400px"></h:outputText>
                    </span>
                    <h:panelGrid columns="3" style="width: 1200px">

                        <h:inputTextarea id="companyDataId" styleClass="som" style="width: 300px; resize: none;" value="#{pdfBean.companyData}" cols="40" rows="4"/>

                        <h:panelGrid columns="2">
                            <h:outputLabel value="Nr faktury" />
                            <h:inputText id="titleId" styleClass="som" value="#{pdfBean.title}"/>
                            <h:outputLabel value="Miejsce" />
                            <h:inputText id="placeOfIssueId" styleClass="som" value="#{pdfBean.placeOfIssue}">
                            </h:inputText>
                        </h:panelGrid>

                        <h:panelGrid columns="2">
                            <h:outputLabel value="Data wystawienia" />
                            <p:calendar id="dateOfIssueId" value="#{pdfBean.dateOfIssue}"/>
                            <h:outputLabel value="Data sprzedaży" />
                            <p:calendar id="dateOfSaleId" value="#{pdfBean.dateOfSale}"/>
                        </h:panelGrid>
                    </h:panelGrid>

                    <span class="title">
                        <h:outputText value="SPRZEDAJĄCY"></h:outputText>
                        <h:outputText value="KUPUJĄCY" style="margin-right: 540px; float: right"></h:outputText>
                    </span>
                    <h:panelGrid columns="2"  style="width: 1200px">
                        <h:panelGrid columns="2" style="margin-left: 20px">
                            <h:outputLabel value="Nazwa:" />
                            <h:inputTextarea id="dealerNameId" styleClass="fv" value="#{pdfBean.dealerName}"/>
                            <h:outputLabel value="Adres:" />
                            <h:inputTextarea id="dealerAdressId" styleClass="fv" value="#{pdfBean.dealerAdress}"/>
                            <h:outputLabel value="Telefon:" />
                            <h:inputText id="dealerPhoneId" styleClass="fv" value="#{pdfBean.dealerPhone}"/>
                            <h:outputLabel value="NIP:" />
                            <h:inputText id="dealerNIPId" styleClass="fv" value="#{pdfBean.dealerNIP}"/>
                        </h:panelGrid>

                        <h:panelGrid columns="2" style="margin-right: 300px; float: right">
                            <h:outputLabel value="Nazwa:" />
                            <h:inputTextarea id="buyerNameId" styleClass="fv" value="#{pdfBean.buyerName}"/>
                            <h:outputLabel value="Adres:" />
                            <h:inputTextarea id="buyerAdressId" styleClass="fv" value="#{pdfBean.buyerAdress}"/>
                            <h:outputLabel value="Telefon:" />
                            <h:inputText id="buyerPhoneId" styleClass="fv" value="#{pdfBean.buyerPhone}"/>
                            <h:outputLabel value="NIP:" />
                            <h:inputText id="buyerNIPId" styleClass="fv" value="#{pdfBean.buyerNIP}"/>
                        </h:panelGrid>
                    </h:panelGrid>

                    
                    <span class="title">
                        <h:outputText value="LISTA TOWARÓW"></h:outputText>
                    </span>
                    <h:dataTable id="dataTableId" class="goodsTable" value="#{pdfBean.dailySalesToFvList}" var="dailySalesToFv">
                        <h:column>
                            <f:facet name="header">Id</f:facet>
                            <h:outputText value="#{dailySalesToFv.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Kategoria</f:facet>
                            <h:inputText value="#{dailySalesToFv.category}" size="15"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Produkt</f:facet>
                            <h:inputText value="#{dailySalesToFv.product}" size="20"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">PKWiU</f:facet>
                            <h:inputText value="#{pdfBean.pkwiu}" size="7"/>
                        </h:column>  
                        <h:column>
                            <f:facet name="header">Ilość</f:facet>
                            <h:inputText value="#{dailySalesToFv.number}" size="7"/>
                        </h:column>  
                        <h:column>
                            <f:facet name="header">j.m</f:facet>
                            <h:inputText value="#{pdfBean.measure}" size="7"/>
                        </h:column>  
                        <h:column>
                            <f:facet name="header">Rabat[%]</f:facet>
                            <h:inputText value="#{pdfBean.discount}" size="7"/>
                        </h:column>  
                        <h:column>
                            <f:facet name="header">VAT[%]</f:facet>
                            <h:inputText value="#{pdfBean.tax}" size="7"/>
                        </h:column> 
                        <h:column>
                            <f:facet name="header">Cena brutto</f:facet>
                            <h:inputText value="#{dailySalesToFv.unitPrice}" size="7"/>
                        </h:column> 
                        <h:column>
                            <f:facet name="header">Wartość brutto</f:facet>
                            <h:inputText value="#{dailySalesToFv.sumPrice}" size="7"/>
                        </h:column> 
                    </h:dataTable>
                    #{pdfBean.calculate()}
                    <span class="title">
                        <h:outputText value="PODSUMOWANIE"></h:outputText>
                    </span>
                    <h:panelGrid columns="4" style="float: right">
                        <h:outputLabel value="Suma netto" />
                        <h:inputText id="netValueSumId" styleClass="som" value="#{pdfBean.netValueSum}"/>

                        <h:outputLabel value="Suma Vat" />
                        <h:inputText id="vatValueSumId" styleClass="som" value="#{pdfBean.vatValueSum}"/>

                        <h:outputLabel value="Suma brutto" />
                        <h:inputText id="grossValueSumId" styleClass="som" value="#{pdfBean.grossValueSum}"/>

                        <h:outputLabel value="Zapłacono gotówką" />
                        <h:inputText id="cashPaidId" styleClass="som" value="#{pdfBean.cashPaid}"/>

                        <h:outputLabel value="Słownie" />
                        <h:inputText id="paymentWordsId" styleClass="som" value="#{pdfBean.paymentWords}"/>
                    </h:panelGrid>

                    <h:commandButton value="Generuj FV" styleClass="but" style="margin: 10px; margin-top: 70px" action="#{pdfBean.createPdf()}"/>      
                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>

</html>