<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>login</title>
        <h:outputStylesheet name="./css/cssLayout.css"/>
    </h:head>
    <h:body>

        <h:form id="loginForm">          
            <p:growl id="msg" showDetail="true" life="3000" />
            <p:panel header="Login" styleClass="loginPanel">

                <h:panelGrid id="loginPanelId" columns="2">

                    <h:outputText value="Username" />
                    <h:inputText id="username" value="#{loginBean.userLogin}">
                        
                    </h:inputText>

                    <h:panelGroup></h:panelGroup>
                    <h:message for="username"></h:message>

                    <h:outputText value="Password" />
                    <h:inputSecret id="password" value="#{loginBean.userPassword}"></h:inputSecret>

                    <h:panelGroup></h:panelGroup>
                    <h:message for="password"></h:message>

                    <h:outputText value="Sklep" />
                    <h:selectOneMenu id="shopId" value="#{loginBean.shopId}" required="true" >
                        <f:selectItems value="#{shopBean.shopList}" var="shop" itemValue="#{shop.id}" itemLabel="#{shop.name}"/>
                    </h:selectOneMenu>
                    <h:commandButton action="#{loginBean.login()}" value="Login"></h:commandButton>
                    
                </h:panelGrid>

            </p:panel>

        </h:form>

    </h:body> 
</html>

